#h1{
    position: absolute;
    top: 1900px;
    height: 300px;
    left: 790px;
}

#h2{
    position: absolute;
    top: 2475px;
    height: 350px;
    left: 600px;
}

#h3{
    position: absolute;
    height: 350px;
    left: 820px;
    top: 2459px;
}

#h4{
    position: absolute;
    height: 350px;
    left: 250px;
    top: 2200px;
}

#h5{
    position: absolute;
    height: 270px;
    left: 50px;
    top: 2205px;
}
